*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none; border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cover-div{
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    z-index: 19;
    display: block;
    background: rgba(168, 147, 147,0.5);
}
body{
    padding-top: 165px;
}
.container{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    columns: 5;
    width: 1400px;
    column-gap: 20px;
    height: auto;
    margin: 20px auto;
}

.paint{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.paint img{
    max-width: 100%;
    border-radius: 15px;
}
.paint .image-name{
    display: none;
}
.show-details-container{
    position: fixed;
    background: rgba(0, 0, 0, 0.859);
    z-index: 20;
    top: 0px;
    height: 100vh;
    width: 100%;
    /* display: none; */
}
.show-details{
    position: absolute;
    background: white;
    height: 90vh;
    width: 86%;
    left: 5%;
    top: 5%;
    /* display: none; */
    overflow: hidden;
    white-space: normal;
}  
.show-details-container .behavior-list{
    position: absolute;
    top: 5%;
    left: 93%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background: white;
}
.behavior-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    background: blue;
}
.behavior-list li i{
    font-size: 30px;
    display: block;
    margin-top: 15px;
    cursor: pointer;
}
.behavior-list li span{
    font-size: 13px;
}
.show-details .behavior-list i.close-show-details{
    background: lightgrey;
    font-size: 20px;
    padding: 15px 18px;
    border-radius: 50%;
}
.uploader{
    display: flex;
}
.uploader div span{
    display: block;
    cursor: pointer;
}
.uploader .detail-avatar{
    height: 6vh;
    margin: 0px 10px;
}
.image-details img{
    height: 70vh;
    
}




.scroll-up{
    position: fixed;
    left: 100%;
    top: 89%;
    width: 55px;
    background: blue;
    text-align: center;
    border-radius: 7px 0 0 0;
    background: rgb(83, 79, 79);
    transition: ease 0.4s;
  }
  .scroll-up i{
    font-size: 35px;
    color: white;
}