*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none; border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(247, 245, 245);
    padding-top: 165px;
}
.cover-div{
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    z-index: 19;
    display: block;
    background: rgba(168, 147, 147,0.5);
}
header{
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
.container form{
    display: flex;
}
.image-container{
    background: white;
    height: 600px;
    width: 600px;
    margin-left: 8%;
    /* margin-top: 16vh; */
    box-shadow: 0 0 4px rgb(189, 186, 186);
    border-radius: 5px;
}
.image-container .image-show{
    position: relative;
    background: #fafbff;
    border: 1px dashed darkcyan;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
}
.container .image-infor .myImage{
    display: none;
}
.image-container .image-show img{
    position: absolute;
}
.image-infor{
    background: white;
    height: 600px;
    width: 600px;
    box-shadow: 0 0 4px rgb(189, 186, 186);
    border-radius: 5px;
    margin-left: 2%;
}
.image-infor input{
    display: block;
}
.image-infor input[type='submit']{
    padding: 15px 33px;
    background: rgb(169, 201, 161);
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;        
}
#title{
    width: 300px;
    height: 10vh;
    border-bottom: 1px solid rgb(186, 176, 176);
}







.scroll-up{
    position: fixed;
    left: 100%;
    top: 89%;
    width: 55px;
    background: blue;
    text-align: center;
    border-radius: 7px 0 0 0;
    background: rgb(83, 79, 79);
    transition: ease 0.4s;
  }
  .scroll-up i{
    font-size: 35px;
    color: white;
}